﻿
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VerifyAccount</h2>

@if(ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Sucess! </strong> Your account has been activated!
        Click here to @Html.ActionLink("login", "Login");
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Failed! </strong> Your account failed to activate!
    </div>

}