﻿@model MyWeb.ViewModel.ChessAnalyzeViewModel
@{
    ViewBag.Title = "Analyze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .outer-ul {
        height: 550px;
        width: 10000px;
        overflow-y: auto;
    }
    .inner-ul {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
    .hidden-text{
        display:none;
    }
</style>


<h2>Analyzer</h2>

<div id="chessboard">
    <table>
        <tr> @*LEFT*@
            <th>
                @*Button that is used to go to another page*@
                <input type="button" onclick="location=href='@Url.Action("Analyze","Chess", new { command = "up" } )'" value="Up" class="btn-group-sm" />
                <input type="button" onclick="location=href='@Url.Action("Analyze","Chess", new { command = "dive" })'" value="Dive" class="btn-group-sm" />
            </th>
        </tr>

        <tr>
            <th> @Html.Partial("Board", new MyWeb.ViewModel.ChessGamingViewModel() { Board = Model.MyBoard } )</th>
            <th>
                @{

                    try
                    {

                        var chosen = Model.MyAnalyzerNode.GetChosenChild();
                        <p>
                            My Chosen: (@chosen.UpLayerMove.FromCoord.Row ,@chosen.UpLayerMove.FromCoord.Col: @GetChessRoleCode(chosen.UpLayerMove.FromChess.Role))->
                            (@chosen.UpLayerMove.ToCoord.Row, @chosen.UpLayerMove.ToCoord.Col: @GetChessRoleCode(chosen.UpLayerMove.ToChess.Role)):
                            (@GetChessPlayerCode(chosen.MyChoice.winner), @chosen.MyChoice.boardValue.Topval, @chosen.MyChoice.boardValue.Botval, @chosen.MyChoice.boardValue.GetScore())
                        </p>
                    }catch(Exception e)
                    {
                        <p>Bottom Layer</p>
                    }
                }
               

                <ol class="outer-ul" >

                        @for (int i = 0; i < Model.MyAnalyzerNode.GetChildCount(); i++)
                        {
                            var curnode = Model.MyAnalyzerNode.GetIndexedChilden(i);
                            
                              <li>
                                  (@curnode.UpLayerMove.FromCoord.Row ,@curnode.UpLayerMove.FromCoord.Col: @GetChessRoleCode(curnode.UpLayerMove.FromChess.Role))->
                                    (@curnode.UpLayerMove.ToCoord.Row, @curnode.UpLayerMove.ToCoord.Col: @GetChessRoleCode(curnode.UpLayerMove.ToChess.Role)): 
                                     (@GetChessPlayerCode(curnode.MyChoice.winner), @curnode.MyChoice.boardValue.Topval, @curnode.MyChoice.boardValue.Botval, @curnode.MyChoice.boardValue.GetScore())
                                  <input type="button" value="submit" onclick="location.href='@Url.Action("Analyze", "Chess", new { command=i})' " />

                            </li>
                        }
                
                </ol>
            </th>
        </tr>

    </table>
</div>

@{ 
    String GetChessPlayerCode(MyWeb.GameChess.Chess.PlayerIndex player)
    {
        switch (player)
        {
            case MyWeb.GameChess.Chess.PlayerIndex.Top: return "T";
            case MyWeb.GameChess.Chess.PlayerIndex.Bot: return "B";
            case MyWeb.GameChess.Chess.PlayerIndex.Empt: return "E";
            default:return "";
        }
    }

    String GetChessRoleCode(MyWeb.GameChess.Chess.RoleIndex role)
    {
        switch (role)
        {
            case MyWeb.GameChess.Chess.RoleIndex.GENERAL: return "G";
            case MyWeb.GameChess.Chess.RoleIndex.CHARIOT: return "C";
            case MyWeb.GameChess.Chess.RoleIndex.HORSE: return "H";
            case MyWeb.GameChess.Chess.RoleIndex.ARTILLERY: return "A";
            case MyWeb.GameChess.Chess.RoleIndex.ESCORT: return "E";
            case MyWeb.GameChess.Chess.RoleIndex.JUMBO: return "J";
            case MyWeb.GameChess.Chess.RoleIndex.SOLDIER: return "S";
            case MyWeb.GameChess.Chess.RoleIndex.NOTHING: return "";
            default:return "";
        }
    }
}


