﻿@model MyWeb.ViewModel.ChessGamingViewModel


<style>
    /* for drawing chess*/
    .board {
        position: absolute;
    }

    .chess {
        position: absolute;
    }
</style>



@*Game board itself*@
<img src="@Url.Content(Model.BoardImages.BoardFile)" width="400" height="600" id="board" />

@for (int i = 0; i < 10; i++)
{
    // generate chess images. They are always anchored on the board after executing the js code
    for (int j = 0; j < 9; j++)
    {
        var myid = i + "-" + j;
        if (Model.Board.GetChessPlayer(i, j).ToString() == "Bot")
        {
            switch (Model.Board.GetChessName(i, j).ToString())
            {
                case "GENERAL":<img src="@Url.Content(Model.BoardImages.BlackGeneralFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "CHARIOT":<img src="@Url.Content(Model.BoardImages.BlackChariotFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "HORSE":<img src="@Url.Content(Model.BoardImages.BlackHorseFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "ARTILLERY":<img src="@Url.Content(Model.BoardImages.BlackArtillaryFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "ESCORT":<img src="@Url.Content(Model.BoardImages.BlackEscortFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "JUMBO":<img src="@Url.Content(Model.BoardImages.BlackJumboFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "SOLDIER":<img src="@Url.Content(Model.BoardImages.BlackSoldierFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                default: break;
            }
        }
        else if (Model.Board.GetChessPlayer(i, j).ToString() == "Top")
        {
            switch (Model.Board.GetChessName(i, j).ToString())
            {
                case "GENERAL":<img src="@Url.Content(Model.BoardImages.RedGeneralFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "CHARIOT":<img src="@Url.Content(Model.BoardImages.RedChariotFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "HORSE":<img src="@Url.Content(Model.BoardImages.RedHorseFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "ARTILLERY":<img src="@Url.Content(Model.BoardImages.RedArtillaryFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "ESCORT":<img src="@Url.Content(Model.BoardImages.RedEscortFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "JUMBO":<img src="@Url.Content(Model.BoardImages.RedJumboFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                case "SOLDIER":<img src="@Url.Content(Model.BoardImages.RedSoldierFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />; break;
                default: break;
            }
        }
        else
        {
            <img src="@Url.Content(Model.BoardImages.BlankFile)" class="chess" id="@myid" onclick="myInteractiveBoard.boardImageClick(id)" />;
        }
    }
}

