﻿@model MyWeb.ViewModel.ChessGamingViewModel
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* for drawing chess*/
    .btnHidden {
        display: none;
    }

    .btnMajor {
        margin: 3px 4px 3px 4px;
        width: 80px;
        height: 30px;
    }
</style>

<h2>Chess</h2>

<div id="chessboard">

    @* Hidden attributes. They are used to store inputs and for giving it back to the server *@
    @using (Html.BeginForm("Submit", "Chess", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Move.FromCoord.Row, new { @class = "form-control text-center", @type = "hidden", @id = "Fromrow" });
        @Html.TextBoxFor(model => model.Move.FromCoord.Col, new { @class = "form-control text-center", @type = "hidden", @id = "Fromcol" });
        @Html.TextBoxFor(model => model.Move.ToCoord.Row, new { @class = "form-control text-center", @type = "hidden", @id = "Torow" });
        @Html.TextBoxFor(model => model.Move.ToCoord.Col, new { @class = "form-control text-center", @type = "hidden", @id = "Tocol" });
        <button type="submit" id="btnSubmit" value="Submit" class="btn-primary btnHidden">Submit</button>
    }

    @{
        @Html.TextBoxFor(model => model.MyMove.FromCoord.Row, new { @class = "form-control text-center", @type = "hidden", @id = "CompFromRow" });
        @Html.TextBoxFor(model => model.MyMove.FromCoord.Col, new { @class = "form-control text-center", @type = "hidden", @id = "CompFromCol" });
        @Html.TextBoxFor(model => model.MyMove.ToCoord.Row, new { @class = "form-control text-center", @type = "hidden", @id = "CompToRow" });
        @Html.TextBoxFor(model => model.MyMove.ToCoord.Col, new { @class = "form-control text-center", @type = "hidden", @id = "CompToCol" });
    }

    <table>
        <tr>
            <th>
               @Html.Partial("Board")

            </th>
            <th>
                <p id="message">@Model.Message</p>
                <p> Please select 1) Difficulty; 2) Your chess color</p>
                @{ using (Html.BeginForm("Setting", "Chess", FormMethod.Post))
                    {

                        @Html.DropDownListFor(model => model.DifficultyChoice, new SelectList(Model.DifficultyChoice, "Value", "LevelName"), new { @class = "form-control" })
                        @Html.DropDownListFor(model => model.SideChoice, new SelectList(Model.SideChoice, "Value", "SideName"), new { @class = "form-control" })
                        <button type="submit" id="btnS" value="Submit" class="btn-primary btnMajor">Submit</button>
                    }
                }
                <input type="button" onclick="location=href='@Url.Action("Regret", "Chess")'" value="Regret" class="btn-primary btnMajor" /><br />
                <input type="button" onclick="location=href='@Url.Action("Restart", "Chess")'" value="Restart" class="btn-primary btnMajor" />
            </th>
        </tr>
    </table>



    <script type="text/javascript" src="~/Scripts/WgBoard/board.js"></script>

    <script>

        var myInteractiveBoard = InteractiveBoard();
        
        document.addEventListener("DOMContentLoaded", function (event) {    
            myInteractiveBoard.interactiveBoardInit();
            requestAnimationFrame(mycallback);
        });
        
        window.onresize = function function_reference() {
            myInteractiveBoard.boardResize();
        };

        function mycallback() {
            myInteractiveBoard.boardMovement();
            requestAnimationFrame(mycallback);
        }
    </script>
</div>
