﻿
@model MyWeb.ViewModel.AboutViewModel

@{
    ViewBag.Title = "About";
    ViewBag.Message = "Welcome to my web page!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p>
    About Myself
    <table>
        <tr><td>Name</td><td>@Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName</td></tr>
        <tr><td>Birth Date</td><td>@Model.PersonalInfo.BirthDate</td></tr>
        <tr><td>Email Address&nbsp;&nbsp;</td><td>@Model.PersonalInfo.EmailAddr</td></tr>
        <tr><td>Mail Address</td><td>@Model.PersonalInfo.MailAddr</td></tr>
    </table>
</p>

<p>
    Experience
    @foreach (var exp in Model.WorkExperiences)
    {
        <table>
            <tr><td>Company</td><td>@exp.CompanyName</td></tr>
            <tr><td>Department &nbsp;&nbsp;</td><td>@exp.Department</td></tr>
            <tr><td>Location</td><td>@exp.Location</td></tr>
            <tr><td>Title</td><td>@exp.Title</td></tr>
            <tr><td>Start Date</td><td>@exp.StartDate</td></tr>
            <tr><td>End Date</td><td>@exp.EndDate</td></tr>

            <tr>
                <td>Description</td>
                <td>

                    @foreach (var descript in exp.Descriptions)
                    {
                        <li>@descript</li>
                    }
                </td>
            </tr>
        </table>
        <br />



    }


</p>